/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.jumbotron {
    background: #14800a;
    border-bottom: 1px solid #11650a;
    padding: 90px 0 48px;
    text-shadow: 2px 2px 2px #333;
    color: white;
}

.hero-unit{
    background-color: #14800a;
}

#explanation {
    padding: 22px 0;
    text-align: center;
    background-color: whiteSmoke;
    border-top: 1px solid white;
    border-bottom: 1px solid #DDD;
}

.example-code {
    position: relative;
    margin: 15px 0;
    padding: 39px 19px 14px;
    background-color: white;
    border: 1px solid #DDD;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.example-code::after {
    content: "Generated Code";
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    background-color: whiteSmoke;
    border: 1px solid #DDD;
    color: #9DA0A4;
    -webkit-border-radius: 4px 0 4px 0;
    -moz-border-radius: 4px 0 4px 0;
    border-radius: 4px 0 4px 0;
}

.example-results {
    position: relative;
    margin: 15px 0;
    padding: 39px 19px 14px;
    background-color: white;
    border: 1px solid #DDD;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.example-results::after {
    content: "Results";
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    background-color: whiteSmoke;
    border: 1px solid #DDD;
    color: #9DA0A4;
    -webkit-border-radius: 4px 0 4px 0;
    -moz-border-radius: 4px 0 4px 0;
    border-radius: 4px 0 4px 0;
}